{% extends 'base.html' %}

{% block title %} | Main Page{% endblock %}

{% block content %}

<div class ="card text-center">
    <div class ="card-body">
        <h1><strong>CVMayker</strong></h1><br>

<h4>CVMayker is a django app which job-seekers can make their CVs and send them to HRs</h4>
<h4>Developed by <strong><a href="https://github.com/EngRobot33">Hamed Khosravi</a></strong></h4>

<br>

        <a class ="btn btn-primary" href ="{% url 'account:resume' %}"><h4><strong>Make CV</strong></h4></a>
        <a class ="btn btn-primary" href ="{% url 'account:login' %}"><h4><strong>HR Login</strong></h4></a>
    </div>
</div>
{% endblock %}