{% extends 'base.html' %}

{% block title %} | HR Panel{% endblock %}

{% block content %}
    <h1>Job-seekers</h1>
    <br>
    <form class="d-flex" method="POST" action="{% url 'account:search-result' %}"> {% csrf_token %}
              <div class="input-group">
                <input type="text" class="form-control" name="searched" placeholder="Search Job-seekers">
                <div class="input-group-btn">
                  <button class="btn btn-warning" type="submit"><strong>Search</strong></button>
                </div>
              </div>
    </form>
    <br>
    <table style="text-align: center" class="table">
    {% if jobseekers %}
        <tr style="background-color: #0275d8; color: white;">
            <th><a href="{% url 'account:sort' 'first_name' %}" style="color: white">First Name</a></th>
            <th><a href="{% url 'account:sort' 'last_name' %}" style="color: white">Last Name</a></th>
            <th><a href="{% url 'account:sort' 'email' %}" style="color: white">E-mail</a></th>
            <th><a href="{% url 'account:sort' 'phone_number' %}" style="color: white">Phone Number</a></th>
            <th>Skills</th>
            <th>Projects</th>
        </tr>
        {% for js in jobseekers %}
            <tr>
                <th>{{ js.first_name }}</th>
                <th>{{ js.last_name }}</th>
                <th><a href="mailto:{{ js.email }}">{{ js.email }}</a></th>
                <th><a href="tel:{{ js.phone_number }}">{{ js.phone_number }}</a></th>
                <th>
                    {% for skill in js.skills.all %}
                        {{ skill.title }}
                    {% endfor %}
                </th>
                <th><a href="{{ js.project.link }}">{{ js.project }}</a></th>
            </tr>
        {% endfor %}
    </table>
        <a href="{% url 'account:export-excel' %}" class="btn btn-success"><strong>Export Excel</strong></a>
    {% else %}
        <h3>There is no job-seeker yet!</h3>
    {% endif %}
{% endblock %}